body {
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}


.cat {
  float: left;
}